[core]
    editor = nvim
[alias]
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[fetch]
    prune = true
[user]
	email = ldenora@codearchitects.com
	name = ldenora
[safe]
	directory = C:/Users/ldenora/AppData/Local/nvim-data/lazy/blink.cmp
